<footer id="footer">

    <div class="container">
    	<div class="row">
	        <div class="col-md-6 text-left">
				{{ partial "footer/subscribe.html" . }}
            </div>

	        <div class="col-md-6 text-right">
                <p>
                    Read more <a href="/about/">about Metadata 20/20</a>
                </p>
                <p>
                	Get in touch with the <a href='mailto:info@metadata2020.org'>Metadata 20/20</a> team by email.
                </p>
	        </div>
    	</div>
    </div>
    <!-- /.container -->
</footer>
<!-- /#footer -->

<section id="footer-subnav">
	<div class="container">
    	<div class="row">
	        <div class="col-md-12">
	            <p>
	              Template by <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>.
	              <!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->
	              Ported to Hugo by <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>.
				  {{ if isset .Site.Params "attribution_link" }}{{ .Site.Params.attribution_link |markdownify}}.{{ end }}
	            </p>
	        </div>
	    </div>
    </div>
    <!-- /.container -->
</section>


<!-- *** FOOTER END *** -->
