<div id="heading-breadcrumbs" {{ if .Params.banner }} style='background:url("{{ .Params.banner }}") center center no-repeat ; background-size:cover;' {{ end }} >

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>
</div>
