
{{ $.Scratch.Set "currentPage" .Params.linkid }}
<section>
    <div class='hrtop pad_bottom'>
    </div>


    <div class='container'>
        <div class="row">
            <div class="col-md-12">
                <h2>OTHER THINGS YOU CAN DO...</h2>
            </div>
        </div>
        <div class="row equal">
            {{ range sort .Site.Data.domore.items.item "order" }}
                {{ $thispage := $.Scratch.Get "currentPage" }}
                {{ if ( eq $thispage .id )}}
                    <div class="col-md-5ths do_more_wrapper col-sm-12 col-xs-12">
                        <div class='do_more_wrapper_inner'>                         
                            <div class='domore_icon_wrapper thisone'>

                                <div class='domore_icon' style="background-position:{{ safeCSS .background_position }};"></div>
                            </div>

                            <div class='do_more_item thisone'>                                
                                {{ .title }}
                            </div>
                        </div>
                    </div>
                {{ else }}
                    <div class="col-md-5ths do_more_wrapper bouncer thisone col-sm-12 col-xs-12">
                        <a href='/do-more/{{ .id }}'>   
                            <div class='do_more_wrapper_inner'>                       
                                <div class='domore_icon_wrapper'>
                                    <div class='domore_icon' style="background-position:{{ safeCSS .background_position }};">
                                    </div>
                                </div>

                                <div class='do_more_item'>                                
                                    {{ .title }}
                                </div>
                            </div>
                        </a>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>