
{{ partial "do_more/signatories/top.html" . }}

<!-- /#content -->
<div class="container">
    <div class="col-md-12">
        <!--<h2>{{ .Title }}</h2>-->
        {{ .Content }}
    </div>
</div>

<section class='greybg'>
    <div class="row">
        <div class="col-md-12">
            <div class='hrtop pad_bottom'>
            </div>
        </div>
    </div>

    {{ partial "do_more/signatories/organizations.html" . }}


    <div class="row">
        <div class="col-md-12">
            <div class='hrtop pad_bottom pad_top'>
            </div>
        </div>
    </div>

    {{ partial "do_more/signatories/individuals.html" . }}

</section>