<div id="open-signup" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close">Close</a>
    <iframe class="airtable-embed" src="https://airtable.com/embed/shrO3yGbwP2jdQWCW?backgroundColor=yellow" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
     </div>
</div>