<section id="domore" class="do-more">
    <div class="container">
            <div class="row equal">
                {{ range where .Site.Data.domore.items.item ".id" .Params.linkid }}
                <div class="col-md-6">
                        <div class='svgimage'>
                            <img src='{{ .image }}'>

                        </div>
                        <div id="overlay" style="background-position:{{ safeCSS .logo_background_position }};">
                        </div>
                </div>
                <div class="col-md-6 vcenter">
                    <h3>Do More</h3>
                    <h2>{{ .title }}</h2>
                    <p>{{ .text }}</p>
                </div>
                {{ end }}
            </div>            
    </div>
</section>

{{ partial "do_more/signup-box.html"}}