<section id="domore" class="do-more">
    <div class="container">
            <div class="row equal">
                {{ range where .Site.Data.domore.items.item ".id" .Params.linkid }}
                <div class="col-md-6">
                    <a href="/do-more/sign-the-pledge">
                        <div class='svgimage'>
                            <img src='{{ .image }}'>

                        </div>
                    </a>
                        <!--
                        <div id="overlay" style="background-position:{{ safeCSS .logo_background_position }};">
                        </div>-->
                </div>
                <div class="col-md-6 vcenter">
                    <h2>Do More</h2>
                    <h3>{{ .title }}</h3>
                    <p>{{ .text }}</p>
                    <div class='clearfix'>
                        <!--<div class="col-md-6 form">
                            <a href="#open-signup">
                                <div class='element'>
                                    Sign Now
                                </div>
                            </a>
                        </div>-->
                        <div class="col-md-6 form">
                            <a href="/do-more/sign-the-pledge">
                                <div class='element'>
                                    View & sign the pledge
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                {{ end }}
            </div>            
    </div>
</section>

{{ partial "do_more/signup-box.html"}}