
{{ partial "do_more/use-cases/top.html" . }}

<!-- /#content -->
<div class="container">
    <div class="col-md-12">
        <!--<h2>{{ .Title }}</h2>-->
        {{ .Content }}
    </div>
</div>

<section class='greybg'>
    <div class="row">
        <div class="col-md-12">
            <div class='hrtop pad_bottom'>
            </div>
        </div>
    </div>

    {{ partial "do_more/use-cases/cases.html" . }}
            <div class='pad_bottom'>
            </div>
</section>