<section>
    <div class='container'>
        {{ range .Site.Data.domore.working_groups.section }}
        <div class="row">
            <div class="col-md-10">
                <hr />
                <h3>{{ .title }}</h3>
                <p>{{ .text }}</p>
            </div>
        </div>
        <div class="row">
        {{ range .element }}
            <div class="col-md-10">
                <h4>{{ .title }} | {{ .org }}</h4>
                <p><em><a href="{{ .link }}" target =_blank>{{ .link }}</a></em></p>
                {{ .text }}
            </div>
        {{ end }}
        </div>
        {{ end }}
    </div>
</section>