{{ if isset .Site.Params "about_md2020" }}
{{ if .Site.Params.about_md2020.enable }}
<section class="bar background-image-fixed-3 no-mb color-white text-center" id="about-md2020">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">{{ .Site.Params.about_md2020.title }}</h3>
                <p class="lead">{{ .Site.Params.about_md2020.subtitle }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.about_md2020.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.about_md2020.link_text }}</a>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
