<div id="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="breadcrumb-wrap" role="navigation" aria-label="breadcrumbs navigation">
			    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
			    {{ $.Scratch.Set "path" .Site.BaseURL }}
			    {{ $pageNotFound := (eq (replace $.Site.BaseURL .Site.BaseURL "404.html") .Permalink) }}
			    <ul class="wy-breadcrumbs">
			        <li><a href="{{ .Site.BaseURL }}">Home</a>{{ if not (eq .Permalink "/")  }}<span>_</span>{{ end }}</li>
			        {{ range $index, $element := split $url "/" }}

			            {{ $.Scratch.Add "path" $element }}

			            {{ $.Scratch.Set "relURL" (replace ($.Scratch.Get "path") ( printf "%s/" $.Site.BaseURL) "" )}}

			            {{ $.Scratch.Add "path" "/" }}

			            
			            <!-- Check if the current list item is the last one -->
			            {{ $isLast := eq ($.Scratch.Get "path") $.Permalink }}
			            {{ if ne $element "" }}
			                {{ if and (not $isLast) (not $pageNotFound) }}                    
								<li><a href='{{ $.Scratch.Get "path" }}'>{{ with $.Site.GetPage "section" $element }}{{ .Title }}{{ end }}</a><span>_</span></li>
			                {{ else if $pageNotFound }}
			                    <li>404</li>
			                {{ else }}
			                    <li>{{ $.Title }}</li>
			                {{ end }}
			            {{ end }}
			        {{ end }}
			    </ul>
				
			</div>
		</div>
	</div>
</div>

