{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div id="carousel" class="container">
            <div class='doughnut_wrapper'>
                <div class="doughnut"></div>
            </div>
            <div class="homepage owl-carousel">
                
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item" style='background-image:url({{ .image }});'>
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-5 left">
                            <h2>{{ .top }}</h2>
                            <h1 style='color:{{ .titlecolor }};'>{{ .title }}</h1>
                            <h2>{{ .bottom }}</h2>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
        
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
