<footer id="footer">

    <div class="container">
    	<div class="row">
	        <div class="col-md-6 text-left">
				<p>
                    {{ partial "footer/get-in-touch.html" . }}
                    <br />
                    {{ partial "footer/social.html" . }}
                </p>

            </div>

	        <div class="col-md-6 text-right">
                <p>
                    Read more <a href="/learn-more/">about Metadata 20/20</a>
                </p>
                <p>
                    Template based on 'Universal' by <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>.<br />
                    <!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->
                    Ported to Hugo by <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>.
                </p>
	        </div>
    	</div>
    </div>
    <!-- /.container -->
</footer>
<!-- /#footer -->

<section id="footer-subnav">
	<div class="container">
    	<div class="row">
	        <div class="col-md-12">
	            {{ .Site.Params.attribution_link | markdownify }}
	        </div>
	    </div>
    </div>
    <!-- /.container -->
</section>


<!-- *** FOOTER END *** -->
