<head>
  <meta charset="utf-8">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ hugo.Generator }}

  <title>{{ .Title }}</title>

  <meta name="author" content="{{ .Site.Author.name }}" />
  <meta name="keywords" content="">

  <meta name="description" content="{{if .Params.Description}}{{.Params.Description}}{{else if .Summary}}{{.Summary}}{{else}}{{.Site.Params.Description }}{{end}}" />

  <!-- OG -->
  <meta property="og:site_name" content="{{if .Params.Sitename}}{{.Params.Sitename}}{{else}}{{.Site.Params.Sitename}}{{end}}" />
  <meta property="og:description" content="{{if .Params.Description}}{{.Params.Description}}{{else if .Summary}}{{.Summary}}{{else}}{{.Site.Params.Description }}{{end}}" />
  <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ if .Site.Params.og_image }}<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.og_image }}" />{{ end }}
  
  <!-- DublinCore -->
  <meta property="dc:language" content="en">   
  <meta property="dc:format" content="text/html">    
  <meta property="dc:rights" content="CC BY 4.0">
  <meta property="dc:source" content="{{ .Site.Title }}">
  <meta property="dc:type" content="website">
  <meta property="dc:title" content="{{ .Title }}">
  {{ if .Params.doi }}<meta property="dc:identifier" content="{{ $.Param "doi" }}">{{ end }}


  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>

  <!-- Bootstrap and Font Awesome css -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- mailchimp stylings -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

  <!-- Custom stylesheet - for your changes - now built from SASS -->
  {{ $styles := resources.Get "css/metadata2020.scss" | toCSS }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}?v=20200515">
  
  <!-- plyr HTML5 video/audio player -->
  <link rel="stylesheet" href="https://cdn.plyr.io/2.0.13/plyr.css">

  <!-- Responsivity for older IE -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <!-- Favicon and apple touch icons-->
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}img/apple-touch-icon.png" />
  <!-- owl carousel css -->

 

  <link rel="alternate" href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="{{ .Site.Title }}">

  <!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://crossref.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '6']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/crossref.matomo.cloud/piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript>
	<!-- Matomo Image Tracker-->
	<img src="https://crossref.matomo.cloud/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
	<!-- End Matomo -->
</noscript>
<!-- End Matomo Code -->

<!-- Piwik -->
  <script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", [".www.metadata2020.org",".www.metadata2020.org"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
  var u="//crossref.piwikpro.com/";
  _paq.push(['setTrackerUrl', u+'piwik.php']);
  _paq.push(['setSiteId', 19]);
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
  </script>
  <noscript><p><img src="//crossref.piwikpro.com/piwik.php?idsite=19" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->

</head>
