<div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">

        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand home" href="{{ .Site.BaseURL }}">
                    <img src="{{ .Site.BaseURL }}img/metadata2020-logo.svg" alt="{{ .Title }} logo" class="hidden-xs hidden-sm">
                    <img src="{{ .Site.BaseURL }}img/metadata2020-logo.svg" alt="{{ .Title }} logo" class="visible-xs visible-sm">
                    <span class="sr-only">{{ .Title }} - go to homepage</span>
                </a>
            </div>
            <!--/.navbar-header -->

       
            
                    
            <div class="" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                	{{ $currenturl := .Permalink }}
                    {{ range sort .Site.Params.menu "weight" }}
                    {{ $menuurl := printf "%s/" .url}}
                    <li class="dropdown {{ .class }} {{ if eq $menuurl $currenturl }}iscurrent{{ end }}">
                        <a href="{{ .url }}"><span>{{ .name }}</span></a>
                    </li>
                    {{ end }}
                    <!--<li>
                        <a target="_blank" class="nav-social" href="https://twitter.com/Metadata2020"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a target="_blank" class="nav-social" href="https://www.facebook.com/Metadata2020/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a target="_blank" class="nav-social" href="https://www.linkedin.com/groups/8622810/profile"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>-->
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

</div>

<!-- *** NAVBAR END ***-->
