{{ if isset .Site.Params "blurb" }}
{{ if .Site.Params.blurb.enable }}
{{ if gt (len .Site.Data.blurb) 0 }}
<section class="bar background-yellow">
    <div class="container">
        <div class="col-md-12">
            {{ range sort .Site.Data.blurb }}
            <div class="row blurb">
                <div class="col-md-12">                
                    <h2>{{ .header }}</h2>
                    <p>{{ .text1 }}</p>
                    <p>{{ .text2 }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
