<section id="domore" class="do-more">
    <div class="container">
        <div class="col-md-12">
            <div class="row equal">
                {{ range sort .Site.Data.domore.items.main }}
                <div class="col-md-6">
                    <div class='svgimage'>
                        <img src='{{ .image }}'>
                    </div>
                </div>
                <div class="col-md-6 vcenter">
                    <h3>{{ .header1 }}</h3>
                    <h2>{{ .header2 }}</h2>
                    <p>{{ .text }}</p>
                    <div class='clearfix'>
                        <div class="col-md-6 form">
                            <!-- Only displays the individual signatory box, not org one -->
                            <a href="#open-signup">
                                <div class='element'>
                                    Sign Now
                                </div>
                            </a>
                        </div>
                        <!-- Other page also includes signature buttons -->
                        <div class="col-md-6 form">
                            <a href="/do-more/sign-the-pledge/">
                                <div class='element'>
                                    View the pledge & signatories
                                </div>
                            </a>
                        </div>
                        
                    </div>

                    <h4>{{ .subheading }}</h4>
                    <p>{{ .text1 }}</p>
                    <div class="col-md-6 form ">
                        <a href="/do-more">
                            <div class='element'>
                                Other things you can do
                            </div>
                        </a>
                    </div> 
                    <!-- Alternative to the paragraph followed by the button
                        <div><a href="/do-more">{{ .text1 }}</a></div>-->
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ partial "do_more/signup-box.html"}}