<section id="learnmore" class="learn-more hrtop">
    <div class="container">
        <div class="col-md-12">
            <div class="row alsoequal">
                {{ range sort .Site.Data.learnmore.items.main }}
                <div class="col-md-6">
                    <div class='svgimage'>
                    	<img src='{{ .image }}'>
                	</div>
                </div>
                <div class="col-md-6 vcenter">
                	<div >
	                    <h3>{{ .header1 }}</h3>
                        <p>{{ .text }}</p>
	                    <a href='{{ .link }}'><div>{{ .header2 }}</div></a>
	                </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>