@charset "UTF-8";

/* SOME VARIABLES */
$color1: #FBE609;
$color2: #EABE03;
$color3: #EC911F;
$color4: #97B8BE;
$color5: #65979F;
$color6: #2C3740;
$color7: #616267;
$color8: #3E444E;
$color9: #15222A;

@import 
"originals/animate",
"originals/style.default",
"partials/breadcrumbs",
"partials/navbar",
"partials/carousel",
"partials/do-more",
"partials/learn-more",
"partials/phase-navigation",
"partials/footer",
"partials/modal",
"originals/owl.carousel",
"originals/owl.theme"
;


.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}
div#content {
	margin-bottom: 3em;
}
.shortcode-row:before, .shortcode-row:after {
	display: table;
	content: " "
}
.shortcode-row:after {
	clear: both;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0;
}
section#about-md2020 p:last-child {
	margin-bottom: 40px;
}

/* divwrap section specifics */
div.highlight {
	background-color: #FEDB00;
	padding: 10px;
}
div.lowlight {
	background-color: #f7f7f7;
	padding: 10px;
	margin-bottom:12px;
}
div.lowlight h4 {
	margin-top:20px;
}

div.highlight2 {
    background-color: #333F48;
    padding: 10px;
    color: #fff;
}

div.highlight2 a {
    color: #FEDB00;
}

body.communities .dropdown.iscurrent a span,
body.blog .dropdown.iscurrent a span,
body.events .dropdown.iscurrent a span,
body.about .dropdown.iscurrent a span,
body.projects .dropdown.iscurrent a span,
body.contact .dropdown.iscurrent a span {
	border-bottom: solid 2px #93b7be;
	padding-bottom: 3px;
}

body blockquote p:before,
body blockquote p:after {
	color:#93b7be;
}

blockquote {
	border:0;
	font-style:italic;
}
blockquote p:before, blockquote p:after {
	font-family: FontAwesome;
    font-size:20px;
}
blockquote p:before {
    content: "\f10d";
    padding-right:6px;
    vertical-align: bottom;
}
blockquote p:after {
    content: "\f10e";
    padding-left:6px;
    vertical-align: top;
}

.imagebar {
	height:160px;
	border-left:8px solid #ff8c00;
	width:100%;
}


body.blog #blog-listing-medium img {
	border-left:8px solid #93b7be;
}
body.blog .post-meta {
	padding-top:24px;
}
body.blog .author-category, body.blog .date-comments {
	margin-bottom:12px;
}
body.blog .panel.sidebar-menu .panel-heading {
	border-bottom:solid 5px #93b7be;
}
body.blog .panel.sidebar-menu .panel-heading h3 {
	border-bottom:none;
}


body.news #blog-listing-medium img {
	border-left:8px solid #93b7be;
}
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}
.btn {
	border-width:2px;
}
.pager {
	border-width:2px;
	border-color:#93b7be;
}
.pager .disabled > a {
	color:#93b7be;
	border-color:#93b7be;
}
.pager li > a {
	border-width:2px;
	border-color:#93b7be;
}
body.news .pager li > a:hover {
	background-color:#93b7be;
}
body.blog .pager li > a:hover {
	background-color:#93b7be;
}
body.blog .pager li.disabled > a {
	opacity: 0.3;
}
body.blog .pager li.disabled > a:hover {
	background-color:#fff;
	border-color:#93b7be;;
}

body.blog .panel.sidebar-menu ul.tag-cloud li a  {
	color:#93b7be;
	border-width:2px;
}
body.blog .panel.sidebar-menu ul.tag-cloud li a:hover {
	border-color:#77878b;
}
.btn-template-main {
	color: #93b7be;
    background-color: #ffffff;
    border-color: #93b7be;
}
.btn-template-main:hover {

    background-color: #93b7be;
    border-color: #93b7be;
}
a {
	color:#93b7be;
}
ul,ol {
	padding-left:20px;
}
.nav-pills > li > a {
	padding-left:0;
	color:#333F48;
}
.navbar-header img {
	height:inherit;
	width:inherit;
	margin-left:-20px;
}
.navbar-brand {
	padding:2px 15px;
}

.home-carousel .img-responsive {
	height:auto;
	width:300px;
}

/* table styling */
td, th {
	padding: 3px 8px;
	vertical-align: top;
	font-size: .9em;
}
th {
	background-color: #93b7be;
	color: #fff;
}
tr:nth-child(2n+2) {
	background-color: #f3f3f3;
}

@media (max-width: 768px) {
	.home-carousel .img-responsive {
		margin:0 auto;
		width:150px;
	}
}

.bar.background-stripes {
	background-image: url('/img/backgrounds/DarkBlue_Banner.jpg');
}
.bar.background-image-fixed-3 {
  background: url('/img/banners/banner-steps.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


a:hover, a:focus {
	color:#93b7be;
}



.blurb {
	margin-bottom:40px;
	margin-top:40px
}
.blurb h2 {
	font-size:48px;
	margin-bottom:40px;
}
.blurb p {
	font-size:18px;
}
@media (max-width: 768px) {
  .row {
    margin-left:0;
  }
}

@media (min-width: 992px) {
	.shortcode-row .col-md-6:nth-of-type(1) {
	    padding-right:30px;
	}
	.shortcode-row .col-md-6:nth-of-type(2) {
	    padding-left:30px;
	}
}

/* contact form specific (though most of this comes straight from mailchimp) */

.contact-shortcode {
    max-width: 600px;
}



/*!
 * Mailchimp stylings
 */
#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
#mc_embed_signup h2 {margin:0; font-size: 1.2em;text-transform:none;}
.required {
  color: #999999;
  text-transform: none;
}
#mc_embed_signup .mc-field-group{width:80%;padding-top:.5em;}
#mc_embed_signup #mce-success-response,
#mc_embed_signup #mce-error-response {color:#FEDB00;}


.hrtop {
	background-image:url(/img/homepage/separator.svg);
	background-repeat:no-repeat;
	padding-top:32px;
}
.pad_bottom {
	padding-bottom:32px;
}
.pad_top {
	padding-top:32px;
}

.form a .element{
	color:$color8;
	background-color: $color1;
	padding:6px 12px;
	margin-bottom:6px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	&:hover {
		color: $color1;
		background-color: $color8;
		text-decoration:none;
	}

}
.form a {
	&:hover {
		text-decoration:none;
	}

}
.row.equal, .row.alsoequal {
    display: flex;
    flex-wrap: wrap;
 }

 .vcenter {
 display:flex;
 justify-content:center;
 flex-flow: column;
}
.greybg {
	background-color:#eee;
}


