<section id="domore" class="signatories">
    <div class="container">
            <div class="row equal">
                {{ range sort .Site.Data.domore.items.usecases }}
                <div class="col-md-6">
                    <div class='svgimage'>
                        <img src='{{ .image }}'>
                    </div>
                </div>
                <div class="col-md-6 vcenter">
                    <h2>{{ .header1 }}</h2>
                    <h3>{{ .header2 }}</h3>
                    <p>{{ .text }}</p>
                    <div class='clearfix'>
                        <div class="col-md-6 form">
                            <a href="#add-use-case">
                                <div class='element'>
                                    Add my use case
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                {{ end }}
            </div>

    </div>
</section>

{{ partial "do_more/add-use-case.html"}}