<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

   <body {{ if .Params.style }} class='{{ .Params.style }}' {{ end }}>

    <div id="all">

        <header>
          {{ partial "nav.html" . }}

        </header>

        {{ partial "learn_more/pagetitle.html" . }}
        {{ partial "breadcrumbs.html" . }}

        <div id="content" class="learn-more-phase-page">
            {{ partial "learn_more/single_phase.html" . }}
        </div>
        <!-- /#content -->       
        
        {{ partial "learn_more/phase_navigation.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
