<section id="domore" class="signatories">
    <div class="container">
            <div class="row equal">
                {{ range sort .Site.Data.domore.items.signatories }}
                <div class="col-md-6">
                    <div class='svgimage'>
                        <img src='{{ .image }}'>
                    </div>
                </div>
                <div class="col-md-6 vcenter">
                    <!--This do more should match the style of the other pages -->
                    <h3>Do More</h3>
                    <h2>{{ .header1 }}</h2>
                    <h3>{{ .header2 }}</h3>
                    <p>{{ .text }}</p>
                    <div class='clearfix'>
                        <div class="col-md-6 form">
                            <a href="#open-signup-org">
                                <div class='element'>
                                    Add my organization
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 form">
                          <a href="#open-signup">
                              <div class='element'>
                                  Add my name
                              </div>
                          </a>
                        </div>

                    </div>

                </div>
                {{ end }}
            </div>

    </div>
</section>

{{ partial "do_more/signup-box.html"}}
{{ partial "do_more/signup-box-org.html"}}