<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

   <body {{ if .Params.style }} class='{{ .Params.style }}' {{ end }}>

    <div id="all">

        <header>
          {{ partial "nav.html" . }}

        </header>

        {{ partial "do_more/pagetitle.html" . }}
        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ partial "do_more/top-single.html" . }}

            <!-- /#content -->
            <div class="container">
                <div class="col-md-12">
                    <!--<h2>{{ .Title }}</h2>-->
                    {{ .Content }}
                </div>
            </div>

            {{ partial "do_more/nine-other-things-rounds.html" . }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
