/* BREADCRUMBS */

#heading-breadcrumbs {
  background: url('../img/texture-bw.png') center center repeat;
  padding: 94px 0 10px;
}
#heading-breadcrumbs.no-mb {
  margin-bottom: 0;
}
#heading-breadcrumbs h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.08em;
}
@media (max-width: 991px) {
  #heading-breadcrumbs h1 {
    text-align: center;
  }
}
#heading-breadcrumbs ul.breadcrumb {
  margin-top: 5px;
  margin-bottom: 0;
}

div.container ul.wy-breadcrumbs {
  display: table;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  font-size: 11px;
  line-height: 10px;
  margin-top: 0;
  margin-bottom: 11px;
}
div.container ul.wy-breadcrumbs li {
    display: inline;
    text-transform:uppercase;
    line-height:1.4em;
    padding: 0;
}
div.container ul.wy-breadcrumbs li:before {
      content: "";
    }
div.container ul.wy-breadcrumbs li span {
      padding: 0 6px;
      display:inline-block;
    }

div.container ul.wy-breadcrumbs li a {
  color: $color5;
}
div.container ul.wy-breadcrumbs li a:hover {
    color: $color9;
}

#heading-breadcrumbs a {
  color:#fff;
}

body.blog #heading-breadcrumbs {
  background:url('/img/backgrounds/Blue_Banner.jpg');
}
body.blog #heading-breadcrumbs h1{
  color:#fff;
}
body.news #heading-breadcrumbs {
  background:url('/img/backgrounds/Blue_Banner.jpg');
}
body.news #heading-breadcrumbs h1{
  color:#fff;
}

#breadcrumbs {
  background-color: #eee;
}
.breadcrumb-wrap {
  margin-top:10px;
}


