
.doughnut_wrapper {
	position:absolute;
	height:50px;
	width:50px;
	right:50px;
	bottom:0;
	z-index:1000;
	transition: all 500ms ease-in-out;
	
}
.doughnut {
	background-image:url(/img/homepage/carousel/progress.svg);
	background-repeat:no-repeat;
	background-position:center;
	height:100%;
	width:100%;
}