#domore h4, #learnmore h4 {
	font-family: "montserratregular";
	margin-bottom:0;
	margin-top:20px;
	text-transform:none;
}
#domore h4 {
	color:$color3;
}

#domore h3, #learnmore h3 {
	font-size:32px;
}
#domore h2, #learnmore h2 {
	font-size:64px;
	color:$color5;
}
#domore .svgimage  {
	padding:100px;
}

#domore.signatories h3 {
	color:$color3;
}

.domore_icon_wrapper {
	width:calc(100% - 65px);
	margin:0 30px -1px;
	height:153px;
	background-image: url("/img/domore/icon_background.svg");
	background-repeat: no-repeat;
	background-size:cover;
	border-radius:50%;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	&.thisone {
		background-color: #ddd;
			filter: grayscale(100%);
	}
}


.do_more_wrapper_inner {
	height:100%;
	width:100%;
}
.do_more_wrapper {
	
	a {
		text-decoration: none;
	}
	&.bouncer:hover {
		.domore_icon_wrapper{			
			background-color: #ff1;
			filter: grayscale(100%);
		}
	}
}
.do_more_item {
	margin:0 5px 5px;
	padding:10px;
	color:black;
	text-transform:uppercase;
	font-family: "montserratbold";
	text-align:center;
	font-size:1.1em;
	&.thisone {
		color:#ddd;
	}
}


.domore_icon {
	width:200px;
	height:145px;
	margin:0 auto;
}
.row  div .domore_icon {
	background: url("/img/domore/icons_collection.svg") no-repeat;
	background-size: 600px 852px;
	transform: scale(0.9) translate(-21px,-8px);
}

#overlay {	
	background: url("/img/domore/icons_collection_white.svg") no-repeat;
	background-size: 1200px 1704px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	clip-path: inset(30%);
}



@media (max-width: 1200px){
	#overlay {
		clip-path: inset(21%);
    	transform: scale(0.75,0.75)translate(-52px,-48px);
	}
	.domore_icon_wrapper {
		width:calc(100% - 65px);
		margin:0 30px -1px;
		height:114px;
	}	
	.row  div .domore_icon {
		transform: scale(0.6) translate(-69px,-39px);
	}
}

@media (max-width: 991px){	
	.domore_icon_wrapper {
		width:250px;
		margin:0 auto;
		height:250px;
	}

	.row  div .domore_icon {
		transform: scale(1.5) translate(3px,22px);
	}
}


/* Bullet styling for 'What to do' section of DO MORE */
.do_more_todo ul {
	list-style: none;
}

.do_more_todo li {
	margin: 1em;
}

.do_more_todo li:before {
  content: '\f14a';
  font-family: 'FontAwesome';
  font-size: 1.1em;
  float: left;
  margin-left: -1.5em;
}

/* for the square version */
.do_more_squares{

	.do_more_wrapper_inner {
		height:100%;
		width:calc(100% - 15px);
		background-color:$color4;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}
	
	.do_more_wrapper {
		margin-top:30px;
		&.bouncer:hover {
			.domore_icon_wrapper{			
				background-color: #ff1;
				filter: grayscale(100%);
			}
			.do_more_wrapper_inner {
				background-color:$color5;
			}
		}
	}
	.do_more_item {
		h3 {
			text-align: left;
			margin-top:0px;
		}
		text-align: initial;
		text-transform: none;
		font-family: "montserratregular";
		padding:20px;
		margin:0;
	}

	.domore_icon_wrapper {
		border-radius: 0;
		margin:0 0 -1px;
		width:calc(100% );
		height:170px;
	}

	.row  div .domore_icon {
		transform: scale(1) translate(0,0);
	}
}

