
#footer {
	color:#fff;
	background-color:$color8;
	a.nav-social{
		display:block;
		height:100%;
		width:100%;
		color:$color8;
		
	}
	.social-wrapper {
		background-color:#fff;
		height:32px;
		width:32px;
		display:inline-block;
		margin-right:10px;	
	  	-webkit-transition: all 0.2s ease-out;
	  	-moz-transition: all 0.2s ease-out;
	  	transition: all 0.2s ease-out;

	  	&:hover{
			background-color:$color8;
		  	a {
				color:#fff;
			}
		}
	}
}
a i.fa {
	font-size:20px;
	margin-left:7px;
	margin-top:5px;
}
#footer a, #copyright a {
	color: #FEDB00;
}
#footer-subnav {
	background-color: #17222a;
	font-size: .9em;
	text-align: center;
	padding:10px 0;
	color:white;
	a { 
		color:#fff; 
	}
}
.footer-svg {
	height:24px;
	width:24px;
	vertical-align:bottom;
}

#footer-subnav p {
	padding: 10px;
}
#footer-subnav p a {
}