.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (max-width: 991px){
	.col-md-5ths {
		margin-bottom:20px;
	}
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;

    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.phase-link {
	text-decoration:none;
	&:hover {
		text-decoration:none;
	}
}
.works-item {
	background-color:$color4;
	height:100%;
	transition: background-color 0.5s ease;
	&:hover {
		background-color:$color5;
	}
}
.works-name {
	background-color:$color9;
	color:white;
	padding:10px 6px;
}
.works-title, .works-text {
	padding:6px;
	color:#000;

}
.works-title {
	text-transform:uppercase;
}
.works-text {
	margin-bottom:20px;
}

.fullwidth-quote{
	background-image: url(/img/learnmore/quote_background.svg);
	background-repeat:no-repeat;
	background-size: cover;
	margin-left: 0;
    margin-right: 0;
}
.openquote, .closequote {
	height:50%;
	background-repeat:no-repeat;
	height:50%;
	width:100px;
	margin:0 auto;
}
.openquote {
	background-image: url(/img/learnmore/quote_open.svg);
	margin-top:100px;

}
.closequote {
	background-image: url(/img/learnmore/quote_close.svg);
	margin-top:165px;

}
.thequote {
	font-size:32px;
	padding:100px 0;
	line-height:32px;
}
#learnmore .svgimage {
	padding:0 120px;
}

#thepeople .svgimage {
	padding:0 100px;
}

#learnmore h4 {
	color:$color7;
}
#learnmore {
	&.phase {
		margin-bottom:0;
		h2 {
			color:$color9;
			margin-top:0;
		}
	}
}

#content.learn-more-phase-page {
	margin-bottom:0;
}
.learn-more-sections {
	background-image:url(/img/homepage/separator.svg);
	background-repeat:no-repeat;
	background-color:#eee;
	margin-top:54px;
	padding-top:10px;

}
.learn-more-section {
	padding-top:32px;
	padding-bottom:32px;

	margin-left:0;
	margin-right:0;
	.container {
		padding-left:0;
		padding-right:0;
	}
	.row {
		margin-left:0;
		margin-right:0;
	    display: flex;
	    flex-flow: row wrap;
	}
	&:nth-of-type(even) {
		background-color:#fff;
	}
	&:nth-of-type(odd) {
		background-color:#eee;
	}

	.learn-more-elements {
		div:nth-of-type(4n+1) h4 {
			color:$color5 !important;
		}
		div:nth-of-type(4n+2) h4 {
			color:$color3 !important;
		}
		div:nth-of-type(4n+3) h4 {
			color:$color2 !important;
		}
		div:nth-of-type(4n+0) h4 {
			color:$color6 !important;
		}

		div h4 {
			margin-top:0 !important;
		}
		div .element-image {
			height:80px;
			width:80px;
			background-image: url(/img/domore/icons_collection.svg);
			background-size:900px 900px;
		}
		div:nth-of-type(4n+1) .element-image {
			background-position:-330px -485px;
		}
		div:nth-of-type(4n+2) .element-image {
			background-position:-643px -485px;
		}
		div:nth-of-type(4n+3) .element-image {
			background-position:-173px -485px;
		}
		div:nth-of-type(4n+4) .element-image {
			background-position:-486px -485px;
		}

	}

}

#external-link {
	height:20px;
	width:20px;
	display:inline-block; 
    vertical-align: top;
    margin-right: 6px;
}
