
.navbar-default {
    background-color :#333f48;
    padding:15px 0;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color:#dddddd;
}
.navbar-nav > li > a.nav-social:hover {
    background-color:transparent;
}
.navbar-nav > li > a.nav-social:hover .fa{
    color:#fff;
}

.navbar-nav > li > a.nav-social {
    padding:21px 0;
}

.navbar-nav > li > a.nav-social .fa {
    font-size:14px;
    color:#888;
    transition: all 0.2s ease-out;
}

.navbar ul.nav > li > a:hover {
  border-top: solid 5px transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color:#93b7be;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}


