.phase-navigation {
	background-color:#eee;
	margin-bottom:0 !important;
	section {
		padding:40px 0;
		margin-bottom:0;

		.phase-link.bouncer .works-item:hover  {
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			animation-iteration-count: 1;
			-webkit-animation-iteration-count: 1;
		  	animation-name: bouncex;
		  	-moz-animation-name: bouncex;
		  	.works-title {background-color:#fff;}
		}
		.whiteline, .blackline {
			margin-top:16px;
		}
		.whiteline {
			border-bottom:4px solid white;
		}
		.blackline {
			border-bottom:4px solid black;
		}
		.works-item {
			background-color:initial;
		}
		.works-title {
			background-color:$color1;
			font-family: "montserratbold";
			padding:1em 0;
			&.thisone {
				background-color:#fff;
			}
		}
		.works-name, .works-title {
			text-align:center;
			font-size:1.2em;
		}
	}
}