<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

   <body {{ if .Params.style }} class='{{ .Params.style }}' {{ end }}>

    <div id="all">

        <header>
          {{ partial "nav.html" . }}

        </header>

        {{ partial "pagetitle.html" . }}
        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div>
                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
