<div id="heading-breadcrumbs" {{ if .Params.banner }} style='background:url("{{ .Params.banner }}") center center no-repeat ; background-size:cover;' {{ end }} >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><a href="/learn-more">Learn More</a></h1>
            </div>
        </div>
    </div>
</div>
