{{ $.Scratch.Set "currentPage" ( .Params.navid ) }}
<div id="content" class="phase-navigation">
<section id="theworks">
    <div class="container">
    	<div class='row equal'>
    		{{ range sort .Site.Data.phases "weight" }}

    		{{ $thispage := $.Scratch.Get "currentPage" }}

    		{{ if eq .link $thispage }}
	        <div class="phase-wrap col-md-5ths col-sm-12 col-xs-12">
        		<div class='works-item'>
	        	
	        		<div class='works-name'>
	        			{{ .name }}
	        		</div>
		        	<div class='works-title thisone'>
		        		{{ .title }}
		        	</div>
			    </div>

		        <div class='whiteline'>
		        </div>
	        </div>
	        {{ else }}
	        <div class="col-md-5ths col-sm-12 col-xs-12">
	        	<a class='phase-link bouncer' href="/learn-more/{{ .link}}">
	        		<div class='works-item'>
		        	
		        		<div class='works-name'>
		        			{{ .name }}
		        		</div>
			        	<div class='works-title'>
			        		{{ .title }}
			        	</div>
				    </div>
				    <div class='blackline'>
		        	</div>

		        </a>
	        </div>
	        {{ end }}
        	{{ end }}
	    </div>
    </div>
</section>
</div>