<section>
  <div class='row equal fullwidth-quote'>
  		<div class='col-sm-3'>
  			<div class='openquote'>
  			</div>
  		</div>
    	<div class='col-sm-6 thequote'>
    		{{ range .Site.Data.learnmore.items.page }}
      			{{ .quote }}
    		{{ end }}
    	</div>
    	<div class='col-sm-3'>
  			<div class='closequote'>
  			</div>
  		</div>
  </div>
</section>