<section id="domore" class="do-more">
    <div class="container">
        <div class="col-md-12">

            <h2>{{ .Title }}</h2>

            {{ .Content }}


        </div>
    </div>
</section>