<section id="thework">
    <div class="container">
        <div class="col-md-12">

			{{ range .Site.Data.learnmore.items.work }}
			  <h2>{{ .header }}</h2>
			  {{ .para }}
			{{ end }}

		</div>
	</div>
</section>
<section id="theworks">
    <div class="container">
    	<div class='row equal'>
    		{{ range sort .Site.Data.phases "weight" }}
	        <div class="col-md-5ths col-sm-12 col-xs-12">
	        	<a class='phase-link' href="/learn-more/{{ .link}}">
	        		<div class='works-item'>
		        	
		        		<div class='works-name'>
		        			{{ .name }}
		        		</div>
			        	<div class='works-title'>
			        		{{ .title }}
			        	</div>
			        	<div class='works-text'>
				        	{{ .text }}
				        </div>
				    </div>

		        </a>
	        </div>
        	{{ end }}
	    </div>
    </div>
</section>

