
<div class='hrtop pad_bottom'>
</div>
<section id="thepeople">
    <div class="container">
    	{{ range .Site.Data.learnmore.items.people }}
        <div class="col-md-6">

			
			  <h2>{{ .header }}</h2>
			  <p>{{ .para }}</p>

              <p>
                <a href="{{ .link_url }}">{{ .link }}</a>
              </p>

		</div>

        <div class="col-md-6">
        	<div class='svgimage'>
                <img src='{{ .image }}'>
            </div>
        </div>

		{{ end }}
	</div>
</section>