<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

   <body class='blog default_single'>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "pagetitle.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <div class="col-md-12" id="">

                        <div id="post-content">
                          {{ .Content }}
                        </div>
                       

                    </div>
                   

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
