<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

   <body {{ if .Params.style }} class='{{ .Params.style }}' {{ end }}>

    <div id="all">

        <header>
          {{ partial "nav.html" . }}

        </header>

        {{ partial "do_more/pagetitle-section.html" . }}
        {{ partial "breadcrumbs.html" . }}


        <div id="content">
            {{ partial "do_more/use-cases.html" . }}
        </div>
        
        {{ partial "do_more/nine-other-things-rounds.html" . }}

        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
