<div class='social-wrapper'>
	<a target="_blank" class="nav-social" href="https://twitter.com/Metadata2020">
		<i class="fa fa-twitter"></i>
	</a>
</div>
<div class='social-wrapper'>
	<a target="_blank" class="nav-social" href="https://www.linkedin.com/groups/8622810/profile">
		<i class="fa fa-linkedin"></i>
	</a>
</div>