<div class='contact-shortcode'>

<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">

    <form action="//metadata2020.us16.list-manage.com/subscribe/post?u=f932ffdb1be462b4631360ef5&amp;id=d26cb81f1a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        	<h2>Subscribe to regular email updates and newsletters</h2>           
            <div class="mc-field-group">
            	<label for="mce-EMAIL">Email address  <span class="asterisk">*</span></label>
            	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f932ffdb1be462b4631360ef5_d26cb81f1a" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>
