/* your styles go here */


/* BREADCRUMBS */
div.container ul.wy-breadcrumbs {
  display: table;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  font-size: 11px;
  line-height: 10px;
  margin-top: 0;
  margin-bottom: 11px;
}
div.container ul.wy-breadcrumbs li {
    display: inline;
    line-height:1.4em;
    padding: 0;
}
div.container ul.wy-breadcrumbs li:before {
      content: "";
    }
div.container ul.wy-breadcrumbs li span {
      padding: 0 6px;
      display:inline-block;
    }

div.container ul.wy-breadcrumbs li a {
    color: #4d585a;
  }
div.container ul.wy-breadcrumbs li a:hover {
    color: #e63642;
}


@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}



.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}
div#content {
	margin-bottom: 3em;
}
.shortcode-row:before, .shortcode-row:after {
	display: table;
	content: " "
}
.shortcode-row:after {
	clear: both;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0;
}
section#about-md2020 p:last-child {
	margin-bottom: 40px;
}
#footer a, #copyright a {
	color: #FEDB00;
}
#footer-subnav {
	background-color: #17222a;
	font-size: .8em;
	text-align: center;
	margin-bottom: 0;
}
#footer-subnav p {

	padding: 10px;
}
#footer-subnav p a {
}
/* divwrap section specifics */
div.highlight {
	background-color: #FEDB00;
	padding: 10px;
}
div.lowlight {
	background-color: #f7f7f7;
	padding: 10px;
	margin-bottom:12px;
}
div.lowlight h4 {
	margin-top:20px;
}

div.highlight2 {
    background-color: #333F48;
    padding: 10px;
    color: #fff;
}

div.highlight2 a {
    color: #FEDB00;
}

.navbar-default {
	background-color :#333f48;
}
.navbar-default .navbar-nav > li > a {
	color:#fff;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color:#dddddd;
}
.navbar-nav > li > a.nav-social:hover {
	background-color:transparent;
}
.navbar-nav > li > a.nav-social:hover .fa{
	color:#fff;
}

.navbar-nav > li > a.nav-social {
	padding:21px 0;
}

.navbar-nav > li > a.nav-social .fa {
	font-size:14px;
	color:#888;
	transition: all 0.2s ease-out;
}

.navbar ul.nav > li > a:hover {
  border-top: solid 5px transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color:#93b7be;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}


body.communities .dropdown.iscurrent a span,
body.blog .dropdown.iscurrent a span,
body.events .dropdown.iscurrent a span,
body.about .dropdown.iscurrent a span,
body.projects .dropdown.iscurrent a span,
body.contact .dropdown.iscurrent a span {
	border-bottom: solid 2px #93b7be;
	padding-bottom: 3px;
}

body blockquote p:before,
body blockquote p:after {
	color:#93b7be;
}

blockquote {
	border:0;
	font-style:italic;
}
blockquote p:before, blockquote p:after {
	font-family: FontAwesome;
    font-size:20px;
}
blockquote p:before {
    content: "\f10d";
    padding-right:6px;
    vertical-align: bottom;
}
blockquote p:after {
    content: "\f10e";
    padding-left:6px;
    vertical-align: top;
}

.imagebar {
	height:160px;
	border-left:8px solid #ff8c00;
	width:100%;
}

body.blog #heading-breadcrumbs {
	background:url('/img/backgrounds/Blue_Banner.jpg');
}
body.blog #heading-breadcrumbs h1{
	color:#fff;
}
body.blog #blog-listing-medium img {
	border-left:8px solid #93b7be;
}
body.blog .post-meta {
	padding-top:24px;
}
body.blog .author-category, body.blog .date-comments {
	margin-bottom:12px;
}
body.blog .panel.sidebar-menu .panel-heading {
	border-bottom:solid 5px #93b7be;
}
body.blog .panel.sidebar-menu .panel-heading h3 {
	border-bottom:none;
}

body.news #heading-breadcrumbs {
	background:url('/img/backgrounds/Blue_Banner.jpg');
}
body.news #heading-breadcrumbs h1{
	color:#fff;
}
body.news #blog-listing-medium img {
	border-left:8px solid #93b7be;
}
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}
.btn {
	border-width:2px;
}
.pager {
	border-width:2px;
	border-color:#93b7be;
}
.pager .disabled > a {
	color:#93b7be;
	border-color:#93b7be;
}
.pager li > a {
	border-width:2px;
	border-color:#93b7be;
}
body.news .pager li > a:hover {
	background-color:#93b7be;
}
body.blog .pager li > a:hover {
	background-color:#93b7be;
}
body.blog .pager li.disabled > a {
	opacity: 0.3;
}
body.blog .pager li.disabled > a:hover {
	background-color:#fff;
	border-color:#93b7be;;
}

body.blog .panel.sidebar-menu ul.tag-cloud li a  {
	color:#93b7be;
	border-width:2px;
}
body.blog .panel.sidebar-menu ul.tag-cloud li a:hover {
	border-color:#77878b;
}
.btn-template-main {
	color: #93b7be;
    background-color: #ffffff;
    border-color: #93b7be;
}
.btn-template-main:hover {

    background-color: #93b7be;
    border-color: #93b7be;
}
a {
	color:#93b7be;
}
ul,ol {
	padding-left:20px;
}
.nav-pills > li > a {
	padding-left:0;
	color:#333F48;
}
.navbar-header img {
	height:inherit;
	width:inherit;
	margin-left:-20px;
}
.navbar-brand {
	padding:2px 15px;
}
.home-carousel {
	background-image: url('/img/carousel/starlings-metadata_ColChange.jpg');
}

.home-carousel .img-responsive {
	height:auto;
	width:300px;
}

/* table styling */
td, th {
	padding: 3px 8px;
	vertical-align: top;
	font-size: .9em;
}
th {
	background-color: #93b7be;
	color: #fff;
}
tr:nth-child(2n+2) {
	background-color: #f3f3f3;
}

@media (max-width: 768px) {
	.home-carousel .img-responsive {
		margin:0 auto;
		width:150px;
	}
}

.bar.background-stripes {
	background-image: url('/img/backgrounds/DarkBlue_Banner.jpg');
}
.bar.background-image-fixed-3 {
  background: url('/img/banners/banner-steps.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


a:hover, a:focus {
	color:#93b7be;
}

.footer-svg {
	height:16px;
	width:16px;
	vertical-align:bottom;
	margin-bottom:3px;
}



.blurb {
	text-align:center;
}
.blurb h2, .blurb p {
	font-size:1.4em;
}
@media (max-width: 768px) {
  .row {
    margin-left:0;
  }
}

@media (min-width: 992px) {
	.shortcode-row .col-md-6:nth-of-type(1) {
	    padding-right:30px;
	}
	.shortcode-row .col-md-6:nth-of-type(2) {
	    padding-left:30px;
	}
}

/* contact form specific (though most of this comes straight from mailchimp) */

.contact-shortcode {
    max-width: 600px;
}



/*!
 * Mailchimp stylings
 */
#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
#mc_embed_signup h2 {margin:0; font-size: 1.2em;text-transform:none;}
.required {
  color: #999999;
  text-transform: none;
}
#mc_embed_signup .mc-field-group{width:80%;padding-top:.5em;}
#mc_embed_signup #mce-success-response,
#mc_embed_signup #mce-error-response {color:#FEDB00;}
