</div>
<div class='row learn-more-sections'>
{{ with (index .Site.Data.phases (.Get 0 ))}}
{{ range .section }}
<div class='row learn-more-section '>
	<div class='container'>
	<div class='col-md-12'>
		<h3>{{ .title }}</h3>
		{{ if .text }}<p>{{ .text }}</p>{{ end }}
    {{ $icons := .icons }}
<div class='row learn-more-elements'>
{{ range .element }}
<div class='col-md-6'>
{{ if $icons }}<div class='element-image'>
</div>{{ end }}
<h4 class='colorloop'>{{ .title }}</h4> 
{{ if .link }}<a href="{{ .link }}">{{ .linktext }}</a>{{ end }}
<p>{{ .text }}</p>
</div>
{{ end }}
</div>
</div>
</div>
</div>
{{ end }}
{{ end }}
</div>
<div class='container'>

