<div class='row'>
<div class="col-md-8">
	<h4>{{ $.Page.Params.subhead |markdownify }}</h4>
	<h2>{{ $.Page.Title }}</h2>
  	{{ .Inner }}
</div>
<div class="col-md-4">
	<img src="{{ $.Page.Params.image }}">
</div>
</div>