<!-- shortcode for displaying small cards of info -->
<!-- PARAMETERS
< --  - role : The role that the person is playing
< --  - want : statement of what the individual wants
< --  - why  : The reason that the individuals wants the item above -->
{{ $role := .Get "role" }}
{{ $want := .Get "want" }}
{{ $why := .Get "why" }}

<div class="flex-wrap">
<div class="card bg-light border-0">
  <div class="card-body">
    <h5 class="card-title">As a {{ $role }}</h5>
    <p class="card-text text-muted">
      I want to {{ $want }} so I can {{ $why }}.
    </p>
  </div>
</div>
</div>

<!--
<div class="card flex-row border-0">
  <div class="card-body">
    <h5 class="card-title">
      As a {{ $role }}
    </h5>
      <p class="card-text text-muted">
        I want to {{ $want }} so I can {{ $why }}.
      </p>
  </div>
</div>-->