<div class='row'>
<div class="col-md-2">
  <img src="/img/learnmore_phase03.svg" style="width:80px;position:absolute;right:15px;">
</div>
<div class="col-md-10">
  <h3>Resources</h3>
    {{ .Inner }}

</div>
</div>    
<p>&nbsp;</p>