<div class='row'>
<div class="col-md-2">
  <img src="/img/learnmore_phase03.svg" style="width:80px;position:absolute;right:15px;">
</div>
<div class="col-md-10">
  <h3>Resources</h3>
  <p>Know of a group working on metadata topics that is not listed here? Tweet about it, mentioning <a href="https://twitter.com/metadata2020">@metadata2020</a> to share the news!

</p>
    {{ partial "do_more/working-groups.html" . }}
</div>
</div>    
<p>&nbsp;</p>