<div class='row'>
<div class="col-md-2">
  <img src="/img/learnmore_phase04.svg" style="width:80px;position:absolute;right:15px;">
</div>
<div class="col-md-10 do_more_todo">
  <h3>What To Do</h3>
  <!--<h2>{{ $.Page.Title }}</h2>-->
    {{ .Inner }}

    <p>&nbsp;</p>
    <hr/>
</div>
</div>